#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 200px;
    gap: 20px;
    border: 2px solid black;
}

#buttons-container {
    display: flex;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#result-container{
    height: 50px;
    width: 200px;
    text-align: center;
    border: 2px solid red;
}

#score-board {
    border: 2px solid red;
    width: 200px;
}